#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Aclock Windows NT HAL"
#define VER_INTERNALNAME_STR        "aclock.sys"
#define VER_ORIGINALFILENAME_STR    "aclock.sys"

#define VER_COMPANYNAME_STR         "Tenox.net (http://www.tenox.net/out#aclock)"
#define VER_PRODUCTNAME_STR         "Aclock Windows NT HAL"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) 2002-2012 by Antoni Sawicki <as@tenoware.com>"
#define VER_PRODUCTVERSION_STR      "2.00 (NTHAL)"


#include "common.ver"
